.nav-item {
    background-color: transparent !important;
}

.bg-primary .nav-link.active {
    background-color: #007bff!important
}

.bg-secondary .nav-link.active {
    background-color: #6c757d!important
}

.bg-success .nav-link.active {
    background-color: #28a745!important
}

.bg-info .nav-link.active {
    background-color: #17a2b8!important
}

.bg-warning .nav-link.active {
    background-color: #ffc107!important
}

.bg-danger .nav-link.active {
    background-color: #dc3545!important
}

.bg-light .nav-link.active {
    background-color: #f8f9fa!important
}

.bg-dark .nav-link.active {
    background-color: #343a40!important
}

.bg-white .nav-link.active {
    background-color: #fff!important
}

.bg-transparent .nav-link.active {
    background-color: transparent!important
}


/* Support shinyFiles modals */
.fade:not(.show) {opacity: 1;}
.sF-modalContainer {
    z-index: 1600 !important;
    
}
.sF-modalBackdrop {
    opacity: 0.5 !important;
    
}