.nav-item {
    background-color: transparent !important;
}

.bg-primary .nav-link.active {
    background-color: #007bff!important
}

.bg-secondary .nav-link.active {
    background-color: #6c757d!important
}

.bg-success .nav-link.active {
    background-color: #28a745!important
}

.bg-info .nav-link.active {
    background-color: #17a2b8!important
}

.bg-warning .nav-link.active {
    background-color: #ffc107!important
}

.bg-danger .nav-link.active {
    background-color: #dc3545!important
}

.bg-light .nav-link.active {
    background-color: #f8f9fa!important
}

.bg-dark .nav-link.active {
    background-color: #343a40!important
}

.bg-white .nav-link.active {
    background-color: #fff!important
}

.bg-transparent .nav-link.active {
    background-color: transparent!important
}


/* Support shinyFiles modals */
.fade:not(.show) {opacity: 1;}
.sF-modalContainer {
    z-index: 1600 !important;
    
}
.sF-modalBackdrop {
    opacity: 0.5 !important;
    
}

/* Fix issueswith dropdown links in card with solidHeader */
.dropdown-item { 
   color: #000 !important; 
 }
 
/* Don't screw up the dark mode: dropdown-item must be white */
 .dark-mode .dropdown-item {
  color: #fff !important;
}
 
/* User post border bottom issue */
.post {
  border-bottom: none !important;
}

/* So that body content has minimum padding: AdminLTE3 is not strict enough. Use
   same value as in shinydashboard.
*/
.content-wrapper>.content {
  padding: 15px !important;
}


/* Tweak controlbar tabs in dark mode */
.control-sidebar-dark .nav-tabs {
  background-color: transparent !important;
}

.control-sidebar-dark .nav-tabs .nav-link.active {
  background-color: #6c757d;
}

/* Add margins to pills in controlbar */
.control-sidebar .nav-pills {
  margin: 10px !important;
}

/* Tweak controlbar tabsetPanel content margins */
.control-sidebar .tab-pane, .control-sidebar .tab-content {
    padding: 10px !important;
}

/* Change BS4 popover background color */
.dark-mode .popover-header {
  background-color: #343a40;
  border-bottom: 1px solid #343a40;
}

.dark-mode .popover-body {
  background-color: #454d55;
  color: #fff;
}


.dark-mode .bs-popover-bottom .popover-header::before,
.dark-mode .bs-popover-top .popover-header::before,
.dark-mode .bs-popover-left .popover-header::before,
.dark-mode .bs-popover-right .popover-header::before
{
  border-bottom: #343a40;
}

.dark-mode .bs-popover-bottom>.arrow::after, 
.dark-mode .bs-popover-top>.arrow::after,
.dark-mode .bs-popover-left>.arrow::after,
.dark-mode .bs-popover-right>.arrow::after {
  border-bottom-color: #454d55;
}

/* Remove top border for popover in dark mode */
.dark-mode .popover-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* Change sliderInput label color in dark mode */
.dark-mode .irs-max, .dark-mode .irs-min {
  color: #ffffff !important;
  background-color: #454d55 !important;
}

.dark-mode .irs-grid-text {
  color: #ffffff !important;
}

.dark-mode .irs-grid-pol {
  background-color: #ffffff !important;
}